
/* Body Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    
}

/* Heading */
h1 {
    color: #333;
    margin-bottom: 30px;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover Effect */
button:hover {
    background-color: #0056b3;
}

/* Active Effect */
button:active {
    transform: scale(0.97);
}


/*  mouse events styling  */

.mouse_event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 300px;
    height: 150px;
    margin-top: 20px;
    border: 3px solid #dadbd3;
    background-color: #ccd996;
}

#myButton {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.addTransition {
    border-radius: 50%;
}

.addTransition3 {
    border-radius: 50%;
    background-color: #f5ee62;
    translate: -10rem 0;
}

.addTransition4 {
    border-radius: 50%;
    background-color: #f5ee62;
    translate: 10rem 0;
}

.addTransition5 {
     transition: -30rem 0;
}

.addTransition6 {
    border-radius: 0%;
    background-color: #f5ee62;
    transition: 0rem 0;
}

/*  key events styling  */

.container {
    width: 500px;
}

input {
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-bottom: 25px;
}

.output {
    background-color: #2c2c2f;
    border-left: 4px solid #ffffff;
    border-radius: 24px;
    padding: 25px;
}

.output p {
    font-size: 28px;
    color: #d6d46b;
    margin-bottom: 35px;
}

.output p:last-child {
    margin-bottom: 0;
}

